<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboardFinal</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header_dashboard">
        <h3>no need to write</h3>
    </div>

    <div class="second_header">
        <div class="second_inside_nav">
            <nav> <a href="localhost:8080/login/dashboardFinal">Dashboard</a></nav>
            <nav>Timetable</nav>
            <nav>Exam</nav>
            <nav>Hostel</nav>
            <nav>Fee</nav>
            <nav>Other</nav>
            <nav>Feedback</nav>
        </div>
    </div>

    <div class="dashboard_starting">
        <h1>This is dashboard Starting point</h1>
    </div>
</body>
</html>