<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container2">
        <h1>Make the most of your professional life</h1>
        <form id="loginForm" method="POST" action="/login">
            <span>Username</span><br>
            <input type="text" name="username" placeholder="Username" required /><br><br>
            <span>Email</span><br>
            <input type="email" name="email" placeholder="Email" required><br><br>
            <span>Password</span><br>
            <input type="password" name="password" placeholder="Password" required /><br><br>
            
            <button type="submit">Login</button>
        <p>I have an account <a href="http://localhost:8080/login">Sign up</a></p>

        </form>
    </div>
      
</body>
</html>